* {
  background-repeat: no-repeat;
  background-size: cover;
}
div {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  border: 5px #ffc0cb solid;
}
div .first {
  color: blue;
  font-size: 30px;
  font-weight: bold;
}
div .second {
  color: #ffc0cb;
  font-size: 50px;
}
div .third {
  width: 100px;
  height: 100px;
}
div .third:hover {
  background-color: #ffff00;
}
div .forth {
  width: 200px;
  height: 200px;
  border: 15px #000000 solid;
}
div .forth:hover {
  background-color: #0000ff;
}
