<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
   <!--
1. 列表过滤
2. 列表排序
-->

<div id="app">
    <input type="text" v-model="searchName">
    <ul>
      <li v-for="(p, index) in filterPersons" :key="index">
        {{index}}--{{p.name}}--{{p.age}}
      </li>
    </ul>
    <div>
      <button @click="setOrderType(2)">年龄升序</button>
      <button @click="setOrderType(1)">年龄降序</button>
      <button @click="setOrderType(0)">原本顺序</button>
    </div>
  </div>


<script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>

  <script type="text/javascript">
   const vm= new Vue({
      el: '#app',
      data: {
        searchName: '',
        orderType: 0, // 0代表不排序, 1代表降序, 2代表升序
        persons: [
          { name: 'Tom', age: 18 },
          { name: 'Jack', age: 17 },
          { name: 'Bob', age: 19 },
          { name: 'Mary', age: 16 }
        ]
      },

      computed: {
        filterPersons() {
          //        debugger
          // 取出相关数据

          //    let name = obj.name;
          //    let age = obj.age;
          //    console.log(name, age);
          //对象的解构赋值  名称要是对象中已有的
          const { searchName, persons, orderType } = this
          //扩展运算符
          // let arr1 = [1,3,5];
          // let arr2 = [2,...arr1,6];
          // arr2.push(...arr1);

          let arr = [...persons]
          
          // 过滤数组
          if (searchName.trim()) {
            arr = persons.filter(p => p.name.indexOf(searchName) !== -1)
          }
          // 排序
          if (orderType) {
            arr.sort(function (p1, p2) {
              if (orderType === 1) { // 降序
                return p2.age - p1.age
              } else { // 升序
                return p1.age - p2.age
              }

            })
          }
          return arr
        }
      },

      methods: {
        setOrderType(orderType) {
          this.orderType = orderType
        }
      }
    })
  </script>
</body>
</html>



