* {
    padding: 0px;
    margin: 0px;
}
ul {
    list-style-type: none;
}

a {
    color: #ffffff;
    text-decoration: none;
}
body {
    font-size: 14px;
    background-color: #f9f9f9;
}
body,html{
    width:100%;
    height:100%;
}
.tree {
    width: 200px;
    height: 100%;
    background: #316BAA;
}
.p_title {
    color: #fff;
    display: block;
    padding: 15px;  
    cursor:pointer;
}
.p_title b{
    float: right;
    transition:all ease 1s;
}
.p_title .up {
    transform: rotate(0deg);
}
.p_title .down {
    transform: rotate(180deg);
}
.p_title:hover {
    color: #999;
}

.c_item a {
    display: block;
    padding: 10px 20px;
    background: #275586;
    color: #fff;
    cursor:pointer;
}

.c_item a:hover {
    color:#999;
}

