body {
    color: #777;
}
body,html{
    width:100%; 
    height:100%;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: #777;
}

ul {
    list-style: none;
}


#layout {
    padding-left: 150px; 
    height: 100%;
}
#main {
    height: 100%;
}
#menu {
    margin-left: 0; 
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #333;
    overflow-y: auto;
}
    #menu .menu-heading {
        background: #404040;
        color: #fff;
        display:block;
        padding: 0.6rem 0 0.6rem 0.6rem;
    }

/*收缩菜单*/
.menu-link {
    position: fixed;
    display: block; 
    top: 0;
    left: 0; 
    background: #404040;
    width: 1rem;
    height: auto;
    padding: 1.3rem;
}
    .menu-link span {
        position: relative;
        display: block;
    }
    .menu-link span,
    .menu-link span:before,
    .menu-link span:after {
        background-color: #fff;
        width: 100%;
        height: 2px;
    }
        .menu-link span:before,
        .menu-link span:after {
            position: absolute;
            margin-top: -0.5rem;
            content: " ";
        }
        .menu-link span:after {
            margin-top: 0.5rem;
        }

/*头部*/
.header {
     margin: 0;
     text-align: center;
     border-bottom: 1px solid #eee;
 }
    .header h1 {
        margin: 0.2rem 0;
        font-size: 3rem;
        font-weight: 300;
    }
     .header h2 {
        font-weight: 300;
        color: #ccc;
    }
/*内容*/
.content {
    margin: 0 auto;
    padding: 0 2rem;
}
.content>div {
    font-size:0;
    text-align:center;
}
.content .img-list {
    width:25%;
    display:inline-block;
}
.content .img-responsive {
    max-width: 100%;
    height: auto;
}
/*收缩动画*/
#layout,
#menu,
.menu-link {
    transition:all .4s ease;
}
@media (min-width:768px){
    .menu-link {
        display:none;
    }
}
@media (max-width:768px){
    #layout {
        padding-left: 0;
    }
     #menu {
        left:-150px;
    }
    .header h1 {
        font-size: 2.5rem;
    }
    .content .img-list {
        width:50%;
    } 
    .menu-link {
        display:block;
    }
}
@media (max-width:568px){
    .header h1 {
        font-size: 2rem;
    }
    .content .img-list {
        width:80%;
    }
}
/*布局*/
#layout.active{
        padding-left: 150px;
    }
     #layout.active #menu {
        left:0;
    }
    #layout.active .menu-link {
        left: 150px;
    }