*{
    margin: 0;
    padding: 0;
}
.prize {
    position: absolute;
    width: 300px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    font-size: 30px;
    color: red;
}
#canvas{
    border: 1px solid #000;	
    position: absolute;
    z-index: 2;
}